/* stylelint-disable property-no-vendor-prefix */
page {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  line-height: 1.5;
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
  cursor: default;
  user-select: none;
  -webkit-text-size-adjust: 100%;
}

page,
cover-image,
cover-view,
match-media,
movable-area,
movable-view,
scroll-view,
swiper,
swiper-item,
view,
icon,
progress,
rich-text,
text,
button,
checkbox,
checkbox-group,
editor,
form,
input,
label,
picker,
picker-view,
picker-view-column,
radio,
radio-group,
slider,
switch,
textarea,
functional-page-navigator,
navigator,
audio,
camera,
image,
live-player,
live-pusher,
video,
voip-room,
map,
canvas,
ad,
ad-custom,
official-account,
open-data,
web-view,
navigation-bar,
page-meta {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
}

button::after {
  border: 0;
  border-radius: none;
}

::before,
::after {
  box-sizing: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  background-repeat: no-repeat;
}

view,
scroll-view {
  display: block;
}

[hidden] {
  display: none;
}

input {
  border-radius: 0;
}

[disabled] {
  cursor: default;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button,
input,
textarea {
  font: inherit;
  background-color: transparent;
  border-style: none;
}

button {
  overflow: visible;
  text-transform: none;
  // cause bug
  // -webkit-appearance: button;
}

button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  color: inherit;
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

::-webkit-file-upload-button {
  font: inherit;
  color: inherit;
  -webkit-appearance: button;
}

image {
  border-style: none;
}

progress {
  vertical-align: baseline;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled="true"] {
  cursor: default;
}

/* stylelint-enable property-no-vendor-prefix */
