/* stylelint-disable declaration-no-important */
.font {
  font-weight: 400;
}

.text {
  font-size: 1rem;
  line-height: 1.5rem;
}

.leading {
  line-height: 1.5;
}

.border {
  border-color: #d9d9d9;
}

.ordinal {
  font-variant-numeric: ordinal;
}

.slashed-zero {
  font-variant-numeric: slashed-zero;
}

.lining-nums {
  font-variant-numeric: lining-nums;
}

.oldstyle-nums {
  font-variant-numeric: oldstyle-nums;
}

.proportional-nums {
  font-variant-numeric: proportional-nums;
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}

.diagonal-fractions {
  font-variant-numeric: diagonal-fractions;
}

.stacked-fractions {
  font-variant-numeric: stacked-fractions;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.transition {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-property: all;
}

.transform-rotate-15 {
  transform: rotate(15deg);
}

.transform-rotate-30 {
  transform: rotate(30deg);
}

.transform-rotate-45 {
  transform: rotate(45deg);
}

.transform-rotate-60 {
  transform: rotate(60deg);
}

.transform-rotate-75 {
  transform: rotate(75deg);
}

.transform-rotate-90 {
  transform: rotate(90deg);
}

.transform-rotate-105 {
  transform: rotate(105deg);
}

.transform-rotate-120 {
  transform: rotate(120deg);
}

.transform-rotate-135 {
  transform: rotate(135deg);
}

.transform-rotate-150 {
  transform: rotate(150deg);
}

.transform-rotate-165 {
  transform: rotate(165deg);
}

.transform-rotate-180 {
  transform: rotate(180deg);
}

.transform-rotate-195 {
  transform: rotate(195deg);
}

.transform-rotate-210 {
  transform: rotate(210deg);
}

.transform-rotate-225 {
  transform: rotate(225deg);
}

.transform-rotate-240 {
  transform: rotate(240deg);
}

.transform-rotate-255 {
  transform: rotate(255deg);
}

.transform-rotate-270 {
  transform: rotate(270deg);
}

.transform-rotate-285 {
  transform: rotate(285deg);
}

.transform-rotate-300 {
  transform: rotate(300deg);
}

.transform-rotate-315 {
  transform: rotate(315deg);
}

.transform-rotate-330 {
  transform: rotate(330deg);
}

.transform-rotate-345 {
  transform: rotate(345deg);
}

.transform-rotate-360 {
  transform: rotate(360deg);
}
