$color-primary: #1890ff;
$color-success: #52c41a;
$color-warning: #faad14;
$color-danger: #ff4d4f;
$color-info: $color-primary;
$color-text-primary: #000000d9;
$color-text-regular: #000000d9;
$color-text-secondary: #00000073;
$color-text-placeholder: #bfbfbf;
$color-border: #b3b3b3;
$color-border-light: #d8d8d8;
$color-border-lighter: #e6e6e6;
$color-border-extra-light: #f2f2f2;
$color-background: #f4f4f4;
