/*
 * uni-app uni.scss 内容，可直接修改
 * 参考 https://uniapp.dcloud.io/collocation/uni-scss
 */
// 行为相关色
$uni-color-primary: #007aff;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;
// 文字基本色
$uni-text-color: #333; // 基本色
$uni-text-color-inverse: #fff; // 反色
$uni-text-color-grey: #999; // 辅助灰色，如加载更多的提示信息
$uni-text-color-placeholder: #808080;
$uni-text-color-disable: #c0c0c0;
// 背景色
$uni-bg-color: #fff;
$uni-bg-color-grey: #f8f8f8;
$uni-bg-color-hover: #f1f1f1; // 点击状态色
$uni-bg-color-mask: rgba(0, 0, 0, 0.4); // 遮罩色
// 边框色
$uni-border-color: #c8c7cc;
// 文字尺寸
$uni-font-size-sm: 24rpx;
$uni-font-size-base: 28rpx;
$uni-font-size-lg: 32rpx;
// 图片尺寸
$uni-img-size-sm: 40rpx;
$uni-img-size-base: 52rpx;
$uni-img-size-lg: 80rpx;
// 边框圆角尺寸
$uni-border-radius-sm: 4rpx;
$uni-border-radius-base: 6rpx;
$uni-border-radius-lg: 12rpx;
$uni-border-radius-circle: 50%;
// 内边距尺寸
$uni-spacing-row-sm: 10rpx;
$uni-spacing-row-base: 20rpx;
$uni-spacing-row-lg: 30rpx;
// 外边距尺寸
$uni-spacing-col-sm: 8rpx;
$uni-spacing-col-base: 16rpx;
$uni-spacing-col-lg: 24rpx;
// 透明度变量
$uni-opacity-disabled: 0.3; // 组件禁用态的透明度
// 文章场景变量
$uni-color-title: #2c405a; // 文章标题色
$uni-font-size-title: 40rpx;
$uni-color-subtitle: #555; // 二级标题色
$uni-font-size-subtitle: 36rpx;
$uni-color-paragraph: #3f536e; // 文章段落色
$uni-font-size-paragraph: 30rpx;

/**
 * cl-uni theme.scss 内容，可直接修改
 * 参考 https://docs.cool-js.com/uni/#%E8%BF%90%E8%A1%8C
 */
$cl-color-primary: #409eff;
$cl-color-default: #dcdfe6;
$cl-color-success: #67c23a;
$cl-color-warning: #e6a23c;
$cl-color-error: #dd524d;
$cl-color-info: #909399;
$cl-color-disabled: #c0c4cc;

/*
 * uview-ui theme.scss 内容，可直接修改
 * 参考 https://uviewui.com/guide/theme.html
 */
// 主题色
$u-type-primary: #2979ff;
$u-type-primary-light: #ecf5ff;
$u-type-primary-disabled: #a0cfff;
$u-type-primary-dark: #2b85e4;
$u-type-warning: #f90;
$u-type-warning-disabled: #fcbd71;
$u-type-warning-dark: #f29100;
$u-type-warning-light: #fdf6ec;
$u-type-success: #19be6b;
$u-type-success-disabled: #71d5a1;
$u-type-success-dark: #18b566;
$u-type-success-light: #dbf1e1;
$u-type-error: #fa3534;
$u-type-error-disabled: #fab6b6;
$u-type-error-dark: #dd6161;
$u-type-error-light: #fef0f0;
$u-type-info: #909399;
$u-type-info-disabled: #c8c9cc;
$u-type-info-dark: #82848a;
$u-type-info-light: #f4f4f5;
// 文字色
$u-main-color: #303133;
$u-content-color: #606266;
$u-tips-color: #909399;
$u-light-color: #c0c4cc;
// 边框色
$u-border-color: #e4e7ed;
// 背景色
$u-bg-color: #f3f4f6;
// 表单项
$u-form-item-height: 70rpx;
$u-form-item-border-color: #dcdfe6;
